@model IEnumerable<BlogDAL.Models.AppRole>
@{
    ViewData["Title"] = "Список ролей";
    Layout = "../Admin/_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-10">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-2">
            <a asp-action="Create">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                    <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                </svg>Добавить роль
            </a>
        </div>
    </div>
    <hr/>
    <div class="card-deck">
        @foreach (var role in Model)
        {
            <div class="card bg-light mb-3" style="max-width: 18rem">
                <div class="card-header">
                    <h5>@role.Name</h5>
                </div>
                <div class="card-body">
                    <p>@role.About</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <form method="get" class="hide-submit" asp-action="EditRoles" asp-controller="Roles">
                                <input type="hidden" name="id" asp-for="@role.Id">
                                <input type="hidden" name="name" asp-for="@role.Name">
                                <input type="hidden" name="about" asp-for="@role.About">
                                <label>
                                    <input type="submit"/>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-vector-pen" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
                                      <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z"/>
                                    </svg>Изменить
                                </label>
                            </form>
                        </div>
                        <div class="col-6">
                            <form class="hide-submit" asp-action="Delete" asp-route-id="@role.Id" method="post">
                                <label>
                                    <input type="submit"/>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                    </svg>Удалить
                                </label>
                            </form>
                        </div>
                        </div>

                </div>
            </div>
        }
    </div>
</div>