@model BlogBLL.ViewModels.Post.EditPostViewModel
@{
    ViewData["Title"] = $"Редактироване статьи {Model.Heading}";
    var postTag = string.Empty;
    foreach (var modelPostTag in Model.PostTags!)
    {
        postTag += modelPostTag.TagId;
    }
}
<div class="row">
    <div class="col-8">
        <h3>Редактирование статьи - @Model.Heading</h3>
    </div>
    <div class="col-1 offset-3">
        <form class="hide-submit" asp-controller="Post" asp-action="DeletePost" method="post">
            <input type="hidden" name="id" asp-for="PostId"/>
            <label title="Удалить пост">
                <input type="submit"/>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                </svg>Удалить
            </label>
        </form>
    </div>
</div>
<form method="post" asp-controller="Post" asp-action="PostUpdate">
    <input type="hidden" asp-for="PostId"/>
    <label asp-for="Heading"></label>
    <input asp-for="Heading" class="form-control"/>
    <label asp-for="Post"></label>
    <textarea asp-for="Post" class="form-control"></textarea>
    <small>Теги</small><br/>
    @foreach (var tag in Model.Tags!)
    {
        <input type="checkbox" name="TagId" value="@tag.Id" @(postTag.Contains(tag.Id!) ? "checked" : string.Empty)/>@tag.Stick
    }
    @if (User.IsInRole("moderator"))
    {
        <a asp-controller="Tag" asp-action="AddTag" title="Добавить тег">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
        </a>
    }
    else
    {
        <a asp-controller="Tag" asp-action="AddTag" title="Добавить тег">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
        </a>
    }
    <br/>
    <div class="row">
        <div class="col-1">
            <input type="submit" class="btn btn-secondary" value="Записать"/>
        </div>
    </div>
</form>
<a asp-controller="Post" asp-action="GetPostById" asp-route-id="@Model.PostId">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
      <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
      <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117M11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z"/>
    </svg>Выйти без сохранения
</a>